*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

.idea/
.idea/gradle.xml
.idea/runConfigurations.xml

fastlane/report.xml
fastlane/README.md
app_test/

/app/.classpath
/cast/.classpath
/ima/.classpath
/mls/.classpath
/app/.project
/cast/.project
/ima/.project
/mls/.project
/.project
/.settings/org.eclipse.buildship.core.prefs
/app/.settings/org.eclipse.buildship.core.prefs
/cast/.settings/org.eclipse.buildship.core.prefs
/ima/.settings/org.eclipse.buildship.core.prefs
/mls/.settings/org.eclipse.buildship.core.prefs


# Infer Report
/infer-out/
